<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Follow based recommendation algorithm</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <h1>Follow based recommendation algorithm</h1>
  <p>
    Using the results of the topic clustering, found using user concept follows, can we suggest articles that are not
    just creating an echo chanmber of content the user was going to read anyway.
  </p>
  <p>
    These endpoints demo the theory that, having identified topic clusters, we can take a given topic and find all the
    other topics it appears in other articles with. We exclude those topics from the cluster and see if we are left with
    any topics that are in the same cluster as the target topic but do not (currently) appear in any matching articles.
  </p>
  <p>
    We will use those topics to identify new and related content to suggest to the user.
  </p>
  <h2>
    Example links
  </h2>
  <ul>
    <li>
      <a href="/topics/Brexit">Get suggestions for the topic <b>Brexit</b></a>
    </li>
    <li>
      <a href="/topics/Blockchain">Get suggestions for the topic <b>Blockchain</b></a>
    </li>
    <li>
      <a href="/topics/?topics=Private%20equity,Investment%20Banking,Hedge%20funds">Get suggestions for the topics
        <b>Private equity, Investment Banking & Hedge funds</b></a>
    </li>
  </ul>

  <script src="/static/js/script.js"></script>
</body>

</html>