<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FT Labs: POC of MyFT follow-based topic recommendation algorithm</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <h1>FT Labs: POC of MyFT follow-based topic recommendation algorithm</h1>
  <p>
    Using the results of the topic clustering, found using user concept follows, can we suggest articles that are not
    just creating an echo chanmber of content the user was going to read anyway.
  </p>
  <p>
    These endpoints demo the theory that, having identified topic clusters, we can take a given topic and find all the
    other topics it appears in other articles with. We exclude those topics from the cluster and see if we are left with
    any topics that are in the same cluster as the target topic but do not (currently) appear in any matching articles.
  </p>
  <p>
    We will use those topics to identify new and related content to suggest to the user.
  </p>
  <p>
    You can set the <b>verbose</b> query parameter to false if you just want the results without showing the
    workings.<br />
    The default value is true
  </p>
  <hr />
  <h2>
    Example links
  </h2>
  <p>
    <b>Single request - No results</b>
  </p>
  <ul>
    <li>
      <a href="/topics/?concepts=Brexit">Get suggestions for the topic <b>Brexit</b></a>
    </li>
    <li>
      <a href="/topics/?concepts=Brexit&amp;verbose=false">Get suggestions for the topic <b>Brexit</b> (verbose
        disabled)</a>
    </li>
  </ul>
  <p>
    <b>Single request - Some results</b>
  </p>
  <ul>
    <li>
      <a href="/topics/?concepts=Blockchain">Get suggestions for the topic <b>Blockchain</b></a>
    </li>
    <li>
      <a href="/topics/?concepts=Blockchain&amp;verbose=false">Get suggestions for the topic <b>Blockchain</b> (verbose
        disabled)</a>
    </li>
  </ul>
  <p>
    <b>Multiple request - Some results - Topics all in same cluster</b>
  </p>
  <ul>
    <li>
      <a href="/topics/?concepts=Private%20equity,Investment%20Banking,Hedge%20funds">Get suggestions for the
        topics
        <b>Private equity, Investment Banking &amp; Hedge funds</b></a>
    </li>
    <li>
      <a href="/topics/?concepts=Private%20equity,Investment%20Banking,Hedge%20funds&amp;verbose=false">Get suggestions
        for the topics <b>Private equity, Investment Banking &amp; Hedge funds</b> (verbose disabled)</a>
    </li>
  </ul>
  <p>
    <b>Multiple request - Some results - Topics in different clusters</b>
  </p>
  <ul>
    <li>
      <a href="/topics/?concepts=Bitcoin,Drones">Get suggestions for the topics <b>Bitcoin & Drones</b></a>
    </li>
    <li>
      <a href="/topics/?concepts=Bitcoin,Drones&amp;verbose=false">Get suggestions for the topics <b>Bitcoin &
          Drones</b> (verbose disabled)</a>
    </li>
  </ul>
  <hr />
  <h2>
    URL builder
  </h2>
  <form id="urlBuilder">
    <label>Type</label>
    <input id="conceptType" type="text" disabled value="topics" />
    <br />
    <label>Comma seperated list of topics to search for</label>
    <input id="searchConcepts" type="text" />
    <br />
    <label>Comma seperated list of topics to exclude from results</label>
    <input id="excludeConcpets" type="text" />
    <br />
    <label>Verbose</label>
    <select id="verbose">
      <option value="true" selected>True</option>
      <option value="false">False</option>
    </select>
    <br />
    <label>Cluster selection</label>
    <select id="clusterSelection">
      <option value="20" selected>20</option>
      <option value="10">10</option>
      <option value="5">5</option>
      <option value="3">3</option>
    </select>
    <br />
    <button>Update URL</button>
  </form>
  <br />
  <h3>Generated URL</h3>
  <p>
    <a href="#" id="urlBuilderOutput"></a>
  </p>
  <script src="/static/js/script.js"></script>
</body>

</html>